.image {
  display: grid;
  gap: 8px;
  margin: 0;

  figcaption {
    font-size: var(--font-size-md);
    color: var(--color-muted);
  }

  img {
    width: 100%;
    max-width: 100%;
    height: auto;
    border-radius: 6px;
  }
}
